<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title mykit
  link(rel="stylesheet", href="assets/css/main.css")
body
  section.r-section 
    .half-col
      h1 class = "half-col"
      p tu me dices si no te gusta
    .half-col
      h1 class = "half-col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

  section.r-section 
    .one-3-col
      h1 class = "one-3-col"
      p tu me dices si no te gusta
    .one-3-col
      h1 class = "one-3-col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas
    .one-3-col
      h1 class = "one-3-col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

  section.u-section 
    .col
      h1 class = "col"
      p a-section is for automatic section which organize their children ".col"s atomatically so 
      p you can use with any number of columns
    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas
    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas 

  section.r-section 
    .one-10-col
      h1 Esto es un one-10-col
      p tu me dices si no te gusta
    
  