<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title mykit
  link(rel="stylesheet", href="assets/css/main.css")
body
  section.n-row 
    .half
      h1 class = "half"
      p tu me dices si no te gusta
    .half
      h1 class = "half"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

  section.n-row
    .three
      h1 class = "three"
      p tu me dices si no te gusta
    .three
      h1 class = "three"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas
    .three
      h1 class = "three"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

  section.u-row 
    .col
      h1 class = "col"
      p a-row is for automatic section which organize their children ".col"s atomatically so 
      p you can use with any number of columns
    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas
    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas

    .col
      h1 class = "col"
      p esto es una prueba lorem ipson sdaljsdkjas dasj dlkjsas 

  section.n-row 
    .ten
      h1 class = "ten"
      p tu me dices si no te gusta

  section.n-row 
    .three
      h1 class = "three"
      p a-section is for automatic section which organize their children ".col"s atomatically so 
      p you can use with any number of columns
    .three.my-proof
      h1 class = "three"
      p within the custom class +offset(33%)


    
    //- TODO: make something
  